# Homework 1

In [64]:
import pandas as pd
from DecisionTree import DecisionTree

## Question 1
### Part a
Part a is done in DecisionTree.py

### Part b

In [65]:
car_train: pd.DataFrame = pd.read_csv("Car/train.csv", names=["buying", "maint", "doors", "persons", "lug_boot", "safety", "label"])
car_train.head()

  buying  maint  doors persons lug_boot safety  label
0    low  vhigh      4       4      big    med    acc
1    low   high  5more       4      med   high  vgood
2  vhigh    med      2       2      big   high  unacc
3   high   high      2       2    small   high  unacc
4  vhigh    low      3       2      big    low  unacc

In [66]:
car_test: pd.DataFrame = pd.read_csv("Car/test.csv", names=["buying", "maint", "doors", "persons", "lug_boot", "safety", "label"])
car_test.tail()

    buying maint  doors persons lug_boot safety  label
723   high  high      4    more    small    low  unacc
724    med  high  5more    more      big    low  unacc
725    low  high      4       2      big    med  unacc
726  vhigh  high      2       2      med   high  unacc
727    med   med      4    more      med   high  vgood

Below is a helper function that will come in handy for predicting accuracy for large batches of data.

In [67]:
def predict_dataframe(model: DecisionTree, test_data: pd.DataFrame, label: str) -> float:
    accuracy_count: int = 0 # represents the count of correct predictions
    for j in range(test_data.shape[0]):
        if model.predict(test_data, j) == test_data[label].iloc[j]:
            accuracy_count += 1
    return accuracy_count / test_data.shape[0]

Let's first build the trees varying from depth 1 to depth 6 for entropy as the splitting criterion.

In [68]:
trees: list[DecisionTree] = []
for i in range (1, 7):
    tree: DecisionTree = DecisionTree(car_train)
    tree.build(attributes=set(car_train.columns) - {"label"}, label="label", splitting_criteria=tree.entropy, set_depth=i)
    trees.append(tree)

Below is the sequentially printed output for depths 1 though 6 for entropy as the splitting criteria. The predictions are for the test data in test.csv.

In [69]:
for tree in trees:
    print(1 - predict_dataframe(tree, car_test, "label"))

0.29670329670329665
0.22252747252747251
0.1964285714285714
0.15109890109890112
0.08379120879120883
0.08379120879120883

Below is the sequentially printed output for depths 1 though 6 for entropy as the splitting criteria. The predictions are for the train data in train.csv.

In [70]:
for tree in trees:
    print(1 - predict_dataframe(tree, car_train, "label"))

0.30200000000000005
0.22199999999999998
0.18100000000000005
0.08199999999999996
0.027000000000000024
0.0

Let's build the trees varying from depth 1 to depth 6 for ginni_index as the splitting criterion.

In [71]:
trees: list[DecisionTree] = []
for i in range (1, 7):
    tree: DecisionTree = DecisionTree(car_train)
    tree.build(attributes=set(car_train.columns) - {"label"}, label="label", splitting_criteria=tree.ginni_index, set_depth=i)
    trees.append(tree)

Below is the sequentially printed output for depths 1 though 6 for ginni index as the splitting criteria. The predictions are for the test data in test.csv.

In [72]:
for tree in trees:
    print(1 - predict_dataframe(tree, car_test, "label"))

0.29670329670329665
0.22252747252747251
0.18406593406593408
0.13736263736263732
0.08379120879120883
0.08379120879120883

Below is the sequentially printed output for depths 1 though 6 for ginni index as the splitting criteria. The predictions are for the train data in train.csv.

In [73]:
for tree in trees:
    print(1 - predict_dataframe(tree, car_train, "label"))

0.30200000000000005
0.22199999999999998
0.17600000000000005
0.08899999999999997
0.027000000000000024
0.0

Let's build the trees varying from depth 1 to depth 6 for ginni_index as the splitting criterion.

In [74]:
trees: list[DecisionTree] = []
for i in range (1, 7):
    tree: DecisionTree = DecisionTree(car_train)
    tree.build(attributes=set(car_train.columns) - {"label"}, label="label", splitting_criteria=tree.majority_error, set_depth=i)
    trees.append(tree)

Below is the sequentially printed output for depths 1 though 6 for majority error as the splitting criteria. The predictions are for the test data in test.csv.

In [75]:
for tree in trees:
    print(1 - predict_dataframe(tree, car_test, "label"))

0.29670329670329665
0.3159340659340659
0.2554945054945055
0.22252747252747251
0.16620879120879117
0.16620879120879117

Below is the sequentially printed output for depths 1 though 6 for majority error as the splitting criteria. The predictions are for the train data in train.csv.

In [76]:
for tree in trees:
    print(1 - predict_dataframe(tree, car_train, "label"))

0.30200000000000005
0.30100000000000005
0.22699999999999998
0.127
0.040000000000000036
0.0

### Part c
Looking at the results calculated above, we can see that as the depth of the tree increased, we saw a decrease in misclassification. However, all heuristics showed no significant decrease in misclassification after a point (tree depth = 5). This is due to the tree already reaching its max depth, so, setting the depth to a higher number won't change how the tree would classify points. In addition, we notice that at tree depth 6, all heuristics completely fit the training data even though there is about an 8% misclassificatin on the test data.

## Question 3
Let's first load our data set.

In [77]:
bank_train = pd.read_csv("bank/train.csv", names=["age", "job", "marital", "education", "default", "balance", "housing", "loan", "contact", "day", "month", "duration", "campaign", "pdays", "previous", "poutcome", "y"])
bank_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,41,services,married,secondary,no,0,yes,no,unknown,5,may,114,2,-1,0,unknown,no
1,48,blue-collar,single,secondary,no,312,yes,yes,cellular,3,feb,369,2,-1,0,unknown,no
2,55,technician,married,secondary,no,1938,no,yes,cellular,18,aug,193,1,386,3,success,yes
3,54,admin.,married,tertiary,no,59,yes,no,cellular,10,jul,268,1,-1,0,unknown,no
4,34,management,single,tertiary,no,2646,no,no,cellular,14,apr,142,1,-1,0,unknown,yes

In [78]:
bank_test = pd.read_csv("bank/test.csv", names=["age", "job", "marital", "education", "default", "balance", "housing", "loan", "contact", "day", "month", "duration", "campaign", "pdays", "previous", "poutcome", "y"])
bank_test.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,41,management,single,secondary,no,764,no,no,cellular,12,jun,230,2,-1,0,unknown,no
1,39,blue-collar,married,secondary,no,49,yes,no,cellular,14,may,566,1,370,2,failure,no
2,60,retired,married,primary,no,0,no,no,telephone,30,jul,130,3,-1,0,unknown,no
3,31,entrepreneur,single,tertiary,no,247,yes,yes,unknown,2,jun,273,1,-1,0,unknown,no
4,26,student,single,unknown,no,2020,no,no,telephone,28,jan,42,3,-1,0,unknown,no

### Part A

In [79]:
def make_numerical_attributes_binary(data):
    column_types: dict[str, str] = data.dtypes.to_dict()
    for column in column_types:
        if column_types[column] == "int64" or column_types[column] == "float64":
            data[column] = data[column].apply(lambda x: x >= data[column].median())

Let's use a modified dataframe with binary attributes called binary_bank_test.

In [80]:
binary_bank_test: pd.DataFrame = bank_test[:]
pd.DataFrame = make_numerical_attributes_binary(binary_bank_test)
binary_bank_test.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,True,management,single,secondary,no,True,no,no,cellular,False,jun,True,True,True,True,unknown,no
1,True,blue-collar,married,secondary,no,False,yes,no,cellular,False,may,True,False,True,True,failure,no
2,True,retired,married,primary,no,False,no,no,telephone,True,jul,False,True,True,True,unknown,no
3,False,entrepreneur,single,tertiary,no,False,yes,yes,unknown,False,jun,True,False,True,True,unknown,no
4,False,student,single,unknown,no,True,no,no,telephone,True,jan,False,True,True,True,unknown,no

In [97]:
binary_bank_train: pd.DataFrame = bank_train[:]
pd.DataFrame = make_numerical_attributes_binary(binary_bank_train)
binary_bank_train.head()

['services' 'blue-collar' 'technician' 'admin.' 'management' 'unknown'
 'student' 'self-employed' 'retired' 'housemaid' 'unemployed'
 'entrepreneur']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,True,services,married,secondary,no,False,yes,no,unknown,False,may,False,True,True,True,unknown,no
1,True,blue-collar,single,secondary,no,False,yes,yes,cellular,False,feb,True,True,True,True,unknown,no
2,True,technician,married,secondary,no,True,no,yes,cellular,True,aug,True,False,True,True,success,yes
3,True,admin.,married,tertiary,no,False,yes,no,cellular,False,jul,True,False,True,True,unknown,no
4,False,management,single,tertiary,no,True,no,no,cellular,False,apr,False,False,True,True,unknown,yes

Let's now make 16 trees varying form depth of 1 through 16. We will first use entropy.

In [82]:
trees: list[DecisionTree] = []
for i in range (1, 17):
    tree: DecisionTree = DecisionTree(binary_bank_test)
    tree.build(attributes=set(binary_bank_test.columns) - {"y"}, label="y", splitting_criteria=tree.entropy, set_depth=i)
    trees.append(tree)

Let's now make a prediction using the 16 trees above on the training data.

In [83]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_train, "y"))

0.11919999999999997
0.11180000000000001
0.10860000000000003
0.10860000000000003
0.11739999999999995
0.129
0.136
0.14339999999999997
0.14600000000000002
0.15000000000000002
0.14939999999999998
0.15000000000000002
0.15000000000000002
0.15000000000000002
0.15000000000000002
0.15000000000000002

Let's now make a prediction using the 16 trees above on the test data.

In [85]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_test, "y"))

0.12480000000000002
0.11480000000000001
0.09619999999999995
0.08020000000000005
0.06279999999999997
0.046599999999999975
0.032399999999999984
0.02400000000000002
0.018199999999999994
0.014000000000000012
0.012399999999999967
0.01200000000000001
0.01200000000000001
0.01200000000000001
0.01200000000000001
0.01200000000000001

Let's now make 16 trees varying form depth of 1 through 16. We will now use ginni_index.

In [86]:
trees: list[DecisionTree] = []
for i in range (1, 17):
    tree: DecisionTree = DecisionTree(binary_bank_test)
    tree.build(attributes=set(binary_bank_test.columns) - {"y"}, label="y", splitting_criteria=tree.ginni_index, set_depth=i)
    trees.append(tree)

Let's now make a prediction using the 16 trees above on the train data.

In [87]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_train, "y"))

0.10880000000000001
0.10560000000000003
0.11060000000000003
0.11699999999999999
0.122
0.12939999999999996
0.1402
0.14680000000000004
0.15080000000000005
0.15500000000000003
0.15459999999999996
0.15480000000000005
0.15480000000000005
0.15480000000000005
0.15480000000000005
0.15480000000000005

Let's now make a prediction using the 16 trees above on the test data.

In [88]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_test, "y"))

0.11660000000000004
0.1078
0.09340000000000004
0.07679999999999998
0.05820000000000003
0.04500000000000004
0.03159999999999996
0.023800000000000043
0.018399999999999972
0.014399999999999968
0.012199999999999989
0.01200000000000001
0.01200000000000001
0.01200000000000001
0.01200000000000001
0.01200000000000001

Let's now make 16 trees varying form depth of 1 through 16. We will now use majority error.

In [89]:
trees: list[DecisionTree] = []
for i in range (1, 17):
    tree: DecisionTree = DecisionTree(binary_bank_test)
    tree.build(attributes=set(binary_bank_test.columns) - {"y"}, label="y", splitting_criteria=tree.majority_error, set_depth=i)
    trees.append(tree)

Let's now make a prediction using the 16 trees above on the train data.

In [90]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_train, "y"))

0.10880000000000001
0.10560000000000003
0.10999999999999999
0.11599999999999999
0.12219999999999998
0.12880000000000003
0.13539999999999996
0.14339999999999997
0.14759999999999995
0.15339999999999998
0.15580000000000005
0.15680000000000005
0.15880000000000005
0.16080000000000005
0.16159999999999997
0.16180000000000005

Let's now make a prediction using the 16 trees above on the test data

In [91]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_test, "y"))

0.11660000000000004
0.1078
0.0928
0.08040000000000003
0.0686
0.059599999999999986
0.0494
0.041000000000000036
0.035800000000000054
0.02739999999999998
0.021199999999999997
0.018199999999999994
0.015199999999999991
0.01319999999999999
0.012199999999999989
0.01200000000000001

### Part B

In [98]:
def fill_unknown(data: pd.DataFrame) -> pd.DataFrame:
    data_copy = data[:]
    for column in data:
        data_copy[column] = data_copy[column].apply(lambda x: data[column].mode()[0] if x == "unknown" else x)
    return data_copy

binary_bank_train_no_unknown: pd.DataFrame = fill_unknown(binary_bank_train)
print(binary_bank_train_no_unknown["education"].unique()) # check to ensure no unknowns
binary_bank_train_no_unknown.head()

['secondary' 'tertiary' 'primary']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,True,services,married,secondary,no,False,yes,no,cellular,False,may,False,True,True,True,unknown,no
1,True,blue-collar,single,secondary,no,False,yes,yes,cellular,False,feb,True,True,True,True,unknown,no
2,True,technician,married,secondary,no,True,no,yes,cellular,True,aug,True,False,True,True,success,yes
3,True,admin.,married,tertiary,no,False,yes,no,cellular,False,jul,True,False,True,True,unknown,no
4,False,management,single,tertiary,no,True,no,no,cellular,False,apr,False,False,True,True,unknown,yes

Let's also create the test data without the unknown values.

In [99]:
binary_bank_test_no_unknown: pd.DataFrame = fill_unknown(binary_bank_test)
print(binary_bank_test_no_unknown["education"].unique()) # check to ensure no unknowns
binary_bank_test_no_unknown.head()

['secondary' 'primary' 'tertiary']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,True,management,single,secondary,no,True,no,no,cellular,False,jun,True,True,True,True,unknown,no
1,True,blue-collar,married,secondary,no,False,yes,no,cellular,False,may,True,False,True,True,failure,no
2,True,retired,married,primary,no,False,no,no,telephone,True,jul,False,True,True,True,unknown,no
3,False,entrepreneur,single,tertiary,no,False,yes,yes,cellular,False,jun,True,False,True,True,unknown,no
4,False,student,single,secondary,no,True,no,no,telephone,True,jan,False,True,True,True,unknown,no

Let's now make 16 trees varying form depth of 1 through 16. We will first use entropy.

In [100]:
trees: list[DecisionTree] = []
for i in range (1, 17):
    tree: DecisionTree = DecisionTree(binary_bank_test_no_unknown)
    tree.build(attributes=set(binary_bank_test_no_unknown.columns) - {"y"}, label="y", splitting_criteria=tree.entropy, set_depth=i)
    trees.append(tree)

Let's now make a prediction using the 16 trees above on the training data.

In [102]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_train_no_unknown, "y"))

0.11919999999999997
0.11180000000000001
0.1078
0.10980000000000001
0.11619999999999997
0.126
0.1372
0.1462
0.14880000000000004
0.1562
0.1562
0.1562
0.1562
0.1562
0.1562
0.1562

Let's now make a prediction using the 16 trees above on the test data.

In [103]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_test_no_unknown, "y"))

0.12480000000000002
0.11480000000000001
0.09519999999999995
0.08079999999999998
0.06540000000000001
0.04959999999999998
0.037799999999999945
0.027200000000000002
0.023599999999999954
0.018000000000000016
0.015599999999999947
0.01539999999999997
0.01539999999999997
0.01539999999999997
0.01539999999999997
0.01539999999999997

Let's now make 16 trees varying form depth of 1 through 16. We will now use ginni index.

In [104]:
trees: list[DecisionTree] = []
for i in range (1, 17):
    tree: DecisionTree = DecisionTree(binary_bank_test_no_unknown)
    tree.build(attributes=set(binary_bank_test_no_unknown.columns) - {"y"}, label="y", splitting_criteria=tree.entropy, set_depth=i)
    trees.append(tree)

Let's now make a prediction using the 16 trees above on the training data.

In [105]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_train_no_unknown, "y"))

0.11919999999999997
0.11180000000000001
0.1078
0.10980000000000001
0.11619999999999997
0.126
0.1372
0.1462
0.14880000000000004
0.1562
0.1562
0.1562
0.1562
0.1562
0.1562
0.1562

Let's now make a prediction using the 16 trees above on the test data.

In [106]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_test_no_unknown, "y"))

0.12480000000000002
0.11480000000000001
0.09519999999999995
0.08079999999999998
0.06540000000000001
0.04959999999999998
0.037799999999999945
0.027200000000000002
0.023599999999999954
0.018000000000000016
0.015599999999999947
0.01539999999999997
0.01539999999999997
0.01539999999999997
0.01539999999999997
0.01539999999999997

Let's now make 16 trees varying form depth of 1 through 16. We will now use majority error.

In [107]:
trees: list[DecisionTree] = []
for i in range (1, 17):
    tree: DecisionTree = DecisionTree(binary_bank_test_no_unknown)
    tree.build(attributes=set(binary_bank_test_no_unknown.columns) - {"y"}, label="y", splitting_criteria=tree.majority_error, set_depth=i)
    trees.append(tree)

Let's now make a prediction using the 16 trees above on the train data.

In [108]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_train_no_unknown, "y"))

0.10880000000000001
0.10560000000000003
0.10999999999999999
0.11580000000000001
0.12060000000000004
0.12719999999999998
0.13180000000000003
0.14
0.14500000000000002
0.15159999999999996
0.15639999999999998
0.15859999999999996
0.1612
0.16200000000000003
0.16259999999999997
0.16259999999999997

Let's now make a prediction using the 16 trees above on the test data.

In [110]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_test_no_unknown, "y"))

0.11660000000000004
0.1078
0.09340000000000004
0.08099999999999996
0.0706
0.061799999999999966
0.05379999999999996
0.0464
0.03920000000000001
0.031000000000000028
0.0262
0.021599999999999953
0.017800000000000038
0.015599999999999947
0.01539999999999997
0.01539999999999997

### Part C
We notice above that the trees that had the unknown value (rather than the imputed one) performed ever so slightly better than the tress that imputed the value of the unknowns based of the error on the training and test sets. We also found that the training errors performed worse than the test errors. We also notice that both the training and test errors converge to an error percentage after a certain number of nodes.