# Homework 1

In [22]:
import pandas as pd
from DecisionTree import DecisionTree

## Question 1
### Part a
Part a is done in DecisionTree.py

### Part b

In [23]:
car_train: pd.DataFrame = pd.read_csv("Car/train.csv", names=["buying", "maint", "doors", "persons", "lug_boot", "safety", "label"])
car_train.head()

  buying  maint  doors persons lug_boot safety  label
0    low  vhigh      4       4      big    med    acc
1    low   high  5more       4      med   high  vgood
2  vhigh    med      2       2      big   high  unacc
3   high   high      2       2    small   high  unacc
4  vhigh    low      3       2      big    low  unacc

In [24]:
car_test: pd.DataFrame = pd.read_csv("Car/test.csv", names=["buying", "maint", "doors", "persons", "lug_boot", "safety", "label"])
car_test.tail()

    buying maint  doors persons lug_boot safety  label
723   high  high      4    more    small    low  unacc
724    med  high  5more    more      big    low  unacc
725    low  high      4       2      big    med  unacc
726  vhigh  high      2       2      med   high  unacc
727    med   med      4    more      med   high  vgood

Below is a helper function that will come in handy for predicting accuracy for large batches of data.

In [25]:
def predict_dataframe(model: DecisionTree, test_data: pd.DataFrame, label: str) -> float:
    accuracy_count: int = 0 # represents the count of correct predictions
    for j in range(test_data.shape[0]):
        if model.predict(test_data, j) == test_data[label].iloc[j]:
            accuracy_count += 1
    return accuracy_count / test_data.shape[0]

Helper to build trees in tabular format.

In [26]:
def build_trees(depth: int, train: pd.DataFrame, test: pd.DataFrame, target_label: str) -> pd.DataFrame:
    output_list: list["any"] = []
    output_list.append(["error_test", "error_train", "depth", "purity"])
    for i in range (1, depth + 1):
        tree: DecisionTree = DecisionTree(train)
        tree.build(attributes=set(train.columns) - {target_label}, label=target_label, splitting_criteria=tree.entropy, set_depth=i)
        output_list.append([1 - predict_dataframe(tree, test, target_label), 1 - predict_dataframe(tree, train, target_label), i,
                            "entropy"])
        
    for i in range (1, depth + 1):
        tree: DecisionTree = DecisionTree(train)
        tree.build(attributes=set(train.columns) - {target_label}, label=target_label, splitting_criteria=tree.ginni_index, set_depth=i)
        output_list.append([1 - predict_dataframe(tree, test, target_label), 1 - predict_dataframe(tree, train, target_label), i,
                            "ginni"])
    for i in range (1, depth + 1):
        tree: DecisionTree = DecisionTree(train)
        tree.build(attributes=set(train.columns) - {target_label}, label=target_label, splitting_criteria=tree.majority_error, set_depth=i)
        output_list.append([1 - predict_dataframe(tree, test, target_label), 1 - predict_dataframe(tree, train, target_label), i,
                            "majority"])
    return output_list

Lets build out table for cars

In [27]:
build_trees(6, car_train, car_test, "label")

[['error_test', 'error_train', 'depth', 'purity'],
 [0.29670329670329665, 0.30200000000000005, 1, 'entropy'],
 [0.22252747252747251, 0.22199999999999998, 2, 'entropy'],
 [0.1964285714285714, 0.18100000000000005, 3, 'entropy'],
 [0.15109890109890112, 0.08199999999999996, 4, 'entropy'],
 [0.08379120879120883, 0.027000000000000024, 5, 'entropy'],
 [0.08379120879120883, 0.0, 6, 'entropy'],
 [0.29670329670329665, 0.30200000000000005, 1, 'ginni'],
 [0.22252747252747251, 0.22199999999999998, 2, 'ginni'],
 [0.18406593406593408, 0.17600000000000005, 3, 'ginni'],
 [0.13736263736263732, 0.08899999999999997, 4, 'ginni'],
 [0.08379120879120883, 0.027000000000000024, 5, 'ginni'],
 [0.08379120879120883, 0.0, 6, 'ginni'],
 [0.29670329670329665, 0.30200000000000005, 1, 'majority'],
 [0.3159340659340659, 0.30100000000000005, 2, 'majority'],
 [0.2554945054945055, 0.22699999999999998, 3, 'majority'],
 [0.22390109890109888, 0.126, 4, 'majority'],
 [0.16346153846153844, 0.04200000000000004, 5, 'majority'],
 [0.16346153846153844, 0.0, 6, 'majority']]

Let's first build the trees varying from depth 1 to depth 6 for entropy as the splitting criterion.

In [28]:
trees: list[DecisionTree] = []
for i in range (1, 7):
    tree: DecisionTree = DecisionTree(car_train)
    tree.build(attributes=set(car_train.columns) - {"label"}, label="label", splitting_criteria=tree.entropy, set_depth=i)
    trees.append(tree)

Below is the sequentially printed output for depths 1 though 6 for entropy as the splitting criteria. The predictions are for the test data in test.csv.

In [29]:
for tree in trees:
    print(1 - predict_dataframe(tree, car_test, "label"))

0.29670329670329665
0.22252747252747251
0.1964285714285714
0.15109890109890112
0.08379120879120883
0.08379120879120883

Below is the sequentially printed output for depths 1 though 6 for entropy as the splitting criteria. The predictions are for the train data in train.csv.

In [30]:
for tree in trees:
    print(1 - predict_dataframe(tree, car_train, "label"))

0.30200000000000005
0.22199999999999998
0.18100000000000005
0.08199999999999996
0.027000000000000024
0.0

Let's build the trees varying from depth 1 to depth 6 for ginni_index as the splitting criterion.

In [31]:
trees: list[DecisionTree] = []
for i in range (1, 7):
    tree: DecisionTree = DecisionTree(car_train)
    tree.build(attributes=set(car_train.columns) - {"label"}, label="label", splitting_criteria=tree.ginni_index, set_depth=i)
    trees.append(tree)

Below is the sequentially printed output for depths 1 though 6 for ginni index as the splitting criteria. The predictions are for the test data in test.csv.

In [32]:
for tree in trees:
    print(1 - predict_dataframe(tree, car_test, "label"))

0.29670329670329665
0.22252747252747251
0.18406593406593408
0.13736263736263732
0.08379120879120883
0.08379120879120883

Below is the sequentially printed output for depths 1 though 6 for ginni index as the splitting criteria. The predictions are for the train data in train.csv.

In [33]:
for tree in trees:
    print(1 - predict_dataframe(tree, car_train, "label"))

0.30200000000000005
0.22199999999999998
0.17600000000000005
0.08899999999999997
0.027000000000000024
0.0

Let's build the trees varying from depth 1 to depth 6 for ginni_index as the splitting criterion.

In [34]:
trees: list[DecisionTree] = []
for i in range (1, 7):
    tree: DecisionTree = DecisionTree(car_train)
    tree.build(attributes=set(car_train.columns) - {"label"}, label="label", splitting_criteria=tree.majority_error, set_depth=i)
    trees.append(tree)

Below is the sequentially printed output for depths 1 though 6 for majority error as the splitting criteria. The predictions are for the test data in test.csv.

In [35]:
for tree in trees:
    print(1 - predict_dataframe(tree, car_test, "label"))

0.29670329670329665
0.3159340659340659
0.2554945054945055
0.22390109890109888
0.16346153846153844
0.16346153846153844

Below is the sequentially printed output for depths 1 though 6 for majority error as the splitting criteria. The predictions are for the train data in train.csv.

In [36]:
for tree in trees:
    print(1 - predict_dataframe(tree, car_train, "label"))

0.30200000000000005
0.30100000000000005
0.22699999999999998
0.126
0.04200000000000004
0.0

### Part c
Looking at the results calculated above, we can see that as the depth of the tree increased, we saw a decrease in misclassification. However, all heuristics showed no significant decrease in misclassification after a point (tree depth = 5). This is due to the tree already reaching its max depth, so, setting the depth to a higher number won't change how the tree would classify points. In addition, we notice that at tree depth 6, all heuristics completely fit the training data even though there is about an 8% misclassificatin on the test data.

## Question 3
Let's first load our data set.

In [37]:
bank_train = pd.read_csv("bank/train.csv", names=["age", "job", "marital", "education", "default", "balance", "housing", "loan", "contact", "day", "month", "duration", "campaign", "pdays", "previous", "poutcome", "y"])
bank_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,41,services,married,secondary,no,0,yes,no,unknown,5,may,114,2,-1,0,unknown,no
1,48,blue-collar,single,secondary,no,312,yes,yes,cellular,3,feb,369,2,-1,0,unknown,no
2,55,technician,married,secondary,no,1938,no,yes,cellular,18,aug,193,1,386,3,success,yes
3,54,admin.,married,tertiary,no,59,yes,no,cellular,10,jul,268,1,-1,0,unknown,no
4,34,management,single,tertiary,no,2646,no,no,cellular,14,apr,142,1,-1,0,unknown,yes

In [38]:
bank_test = pd.read_csv("bank/test.csv", names=["age", "job", "marital", "education", "default", "balance", "housing", "loan", "contact", "day", "month", "duration", "campaign", "pdays", "previous", "poutcome", "y"])
bank_test.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,41,management,single,secondary,no,764,no,no,cellular,12,jun,230,2,-1,0,unknown,no
1,39,blue-collar,married,secondary,no,49,yes,no,cellular,14,may,566,1,370,2,failure,no
2,60,retired,married,primary,no,0,no,no,telephone,30,jul,130,3,-1,0,unknown,no
3,31,entrepreneur,single,tertiary,no,247,yes,yes,unknown,2,jun,273,1,-1,0,unknown,no
4,26,student,single,unknown,no,2020,no,no,telephone,28,jan,42,3,-1,0,unknown,no

### Part A

In [39]:
def make_numerical_attributes_binary(data):
    column_types: dict[str, str] = data.dtypes.to_dict()
    for column in column_types:
        if column_types[column] == "int64" or column_types[column] == "float64":
            data[column] = data[column].apply(lambda x: x >= data[column].median())

Let's use a modified dataframe with binary attributes called binary_bank_test.

In [40]:
binary_bank_test: pd.DataFrame = bank_test[:]
pd.DataFrame = make_numerical_attributes_binary(binary_bank_test)
binary_bank_test.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,True,management,single,secondary,no,True,no,no,cellular,False,jun,True,True,True,True,unknown,no
1,True,blue-collar,married,secondary,no,False,yes,no,cellular,False,may,True,False,True,True,failure,no
2,True,retired,married,primary,no,False,no,no,telephone,True,jul,False,True,True,True,unknown,no
3,False,entrepreneur,single,tertiary,no,False,yes,yes,unknown,False,jun,True,False,True,True,unknown,no
4,False,student,single,unknown,no,True,no,no,telephone,True,jan,False,True,True,True,unknown,no

In [41]:
binary_bank_train: pd.DataFrame = bank_train[:]
pd.DataFrame = make_numerical_attributes_binary(binary_bank_train)
binary_bank_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,True,services,married,secondary,no,False,yes,no,unknown,False,may,False,True,True,True,unknown,no
1,True,blue-collar,single,secondary,no,False,yes,yes,cellular,False,feb,True,True,True,True,unknown,no
2,True,technician,married,secondary,no,True,no,yes,cellular,True,aug,True,False,True,True,success,yes
3,True,admin.,married,tertiary,no,False,yes,no,cellular,False,jul,True,False,True,True,unknown,no
4,False,management,single,tertiary,no,True,no,no,cellular,False,apr,False,False,True,True,unknown,yes

Lets build all of our trees using our helper.

In [42]:
build_trees(16, binary_bank_train, binary_bank_test, "y")

[['error_test', 'error_train', 'depth', 'purity'],
 [0.12480000000000002, 0.11919999999999997, 1, 'entropy'],
 [0.11140000000000005, 0.10599999999999998, 2, 'entropy'],
 [0.10660000000000003, 0.10060000000000002, 3, 'entropy'],
 [0.11280000000000001, 0.07920000000000005, 4, 'entropy'],
 [0.11939999999999995, 0.06120000000000003, 5, 'entropy'],
 [0.13, 0.04720000000000002, 6, 'entropy'],
 [0.13980000000000004, 0.03480000000000005, 7, 'entropy'],
 [0.1442, 0.02839999999999998, 8, 'entropy'],
 [0.1492, 0.02300000000000002, 9, 'entropy'],
 [0.1532, 0.016599999999999948, 10, 'entropy'],
 [0.15380000000000005, 0.01419999999999999, 11, 'entropy'],
 [0.15339999999999998, 0.013599999999999945, 12, 'entropy'],
 [0.15339999999999998, 0.013599999999999945, 13, 'entropy'],
 [0.15339999999999998, 0.013599999999999945, 14, 'entropy'],
 [0.15339999999999998, 0.013599999999999945, 15, 'entropy'],
 [0.15339999999999998, 0.013599999999999945, 16, 'entropy'],
 [0.11660000000000004, 0.10880000000000001, 1, 'ginni'],
 [0.10880000000000001, 0.10419999999999996, 2, 'ginni'],
 [0.11119999999999997, 0.09340000000000004, 3, 'ginni'],
 [0.11699999999999999, 0.07479999999999998, 4, 'ginni'],
 [0.12160000000000004, 0.059599999999999986, 5, 'ginni'],
 [0.133, 0.04700000000000004, 6, 'ginni'],
 [0.14459999999999995, 0.034399999999999986, 7, 'ginni'],
 [0.15239999999999998, 0.02639999999999998, 8, 'ginni'],
 [0.15580000000000005, 0.02100000000000002, 9, 'ginni'],
 [0.15839999999999999, 0.016599999999999948, 10, 'ginni'],
 [0.16159999999999997, 0.014399999999999968, 11, 'ginni'],
 [0.1612, 0.013800000000000034, 12, 'ginni'],
 [0.1614, 0.013599999999999945, 13, 'ginni'],
 [0.1614, 0.013599999999999945, 14, 'ginni'],
 [0.1614, 0.013599999999999945, 15, 'ginni'],
 [0.1614, 0.013599999999999945, 16, 'ginni'],
 [0.11660000000000004, 0.10880000000000001, 1, 'majority'],
 [0.10880000000000001, 0.10419999999999996, 2, 'majority'],
 [0.11099999999999999, 0.09640000000000004, 3, 'majority'],
 [0.11399999999999999, 0.08420000000000005, 4, 'majority'],
 [0.11480000000000001, 0.07140000000000002, 5, 'majority'],
 [0.12160000000000004, 0.06259999999999999, 6, 'majority'],
 [0.12819999999999998, 0.05179999999999996, 7, 'majority'],
 [0.13360000000000005, 0.044399999999999995, 8, 'majority'],
 [0.14239999999999997, 0.03720000000000001, 9, 'majority'],
 [0.14600000000000002, 0.028200000000000003, 10, 'majority'],
 [0.14900000000000002, 0.023800000000000043, 11, 'majority'],
 [0.15300000000000002, 0.021199999999999997, 12, 'majority'],
 [0.15400000000000003, 0.017000000000000015, 13, 'majority'],
 [0.15539999999999998, 0.014599999999999946, 14, 'majority'],
 [0.15480000000000005, 0.013800000000000034, 15, 'majority'],
 [0.15480000000000005, 0.013599999999999945, 16, 'majority']]

Let's now make 16 trees varying form depth of 1 through 16. We will first use entropy.

In [43]:
trees: list[DecisionTree] = []
for i in range (1, 17):
    tree: DecisionTree = DecisionTree(binary_bank_train)
    tree.build(attributes=set(binary_bank_test.columns) - {"y"}, label="y", splitting_criteria=tree.entropy, set_depth=i)
    trees.append(tree)

Let's now make a prediction using the 16 trees above on the training data.

In [44]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_train, "y"))

0.11919999999999997
0.10599999999999998
0.10060000000000002
0.07920000000000005
0.06120000000000003
0.04720000000000002
0.03480000000000005
0.02839999999999998
0.02300000000000002
0.016599999999999948
0.01419999999999999
0.013599999999999945
0.013599999999999945
0.013599999999999945
0.013599999999999945
0.013599999999999945

Let's now make a prediction using the 16 trees above on the test data.

In [45]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_test, "y"))

0.12480000000000002
0.11140000000000005
0.10660000000000003
0.11280000000000001
0.11939999999999995
0.13
0.13980000000000004
0.1442
0.1492
0.1532
0.15380000000000005
0.15339999999999998
0.15339999999999998
0.15339999999999998
0.15339999999999998
0.15339999999999998

Let's now make 16 trees varying form depth of 1 through 16. We will now use ginni_index.

In [46]:
trees: list[DecisionTree] = []
for i in range (1, 17):
    tree: DecisionTree = DecisionTree(binary_bank_train)
    tree.build(attributes=set(binary_bank_test.columns) - {"y"}, label="y", splitting_criteria=tree.ginni_index, set_depth=i)
    trees.append(tree)

Let's now make a prediction using the 16 trees above on the train data.

In [47]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_train, "y"))

0.10880000000000001
0.10419999999999996
0.09340000000000004
0.07479999999999998
0.059599999999999986
0.04700000000000004
0.034399999999999986
0.02639999999999998
0.02100000000000002
0.016599999999999948
0.014399999999999968
0.013800000000000034
0.013599999999999945
0.013599999999999945
0.013599999999999945
0.013599999999999945

Let's now make a prediction using the 16 trees above on the test data.

In [48]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_test, "y"))

0.11660000000000004
0.10880000000000001
0.11119999999999997
0.11699999999999999
0.12160000000000004
0.133
0.14459999999999995
0.15239999999999998
0.15580000000000005
0.15839999999999999
0.16159999999999997
0.1612
0.1614
0.1614
0.1614
0.1614

Let's now make 16 trees varying form depth of 1 through 16. We will now use majority error.

In [49]:
trees: list[DecisionTree] = []
for i in range (1, 17):
    tree: DecisionTree = DecisionTree(binary_bank_train)
    tree.build(attributes=set(binary_bank_test.columns) - {"y"}, label="y", splitting_criteria=tree.majority_error, set_depth=i)
    trees.append(tree)

Let's now make a prediction using the 16 trees above on the train data.

In [50]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_train, "y"))

0.10880000000000001
0.10419999999999996
0.09640000000000004
0.08420000000000005
0.07140000000000002
0.06259999999999999
0.05179999999999996
0.044399999999999995
0.03720000000000001
0.028200000000000003
0.023800000000000043
0.021199999999999997
0.017000000000000015
0.014599999999999946
0.013800000000000034
0.013599999999999945

Let's now make a prediction using the 16 trees above on the test data

In [51]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_test, "y"))

0.11660000000000004
0.10880000000000001
0.11099999999999999
0.11399999999999999
0.11480000000000001
0.12160000000000004
0.12819999999999998
0.13360000000000005
0.14239999999999997
0.14600000000000002
0.14900000000000002
0.15300000000000002
0.15400000000000003
0.15539999999999998
0.15480000000000005
0.15480000000000005

### Part B

In [52]:
def fill_unknown(data: pd.DataFrame) -> pd.DataFrame:
    data_copy = data[:]
    for column in data:
        data_copy[column] = data_copy[column].apply(lambda x: data[column].mode()[0] if x == "unknown" else x)
    return data_copy

binary_bank_train_no_unknown: pd.DataFrame = fill_unknown(binary_bank_train)
print(binary_bank_train_no_unknown["education"].unique()) # check to ensure no unknowns
binary_bank_train_no_unknown.head()

['secondary' 'tertiary' 'primary']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,True,services,married,secondary,no,False,yes,no,cellular,False,may,False,True,True,True,unknown,no
1,True,blue-collar,single,secondary,no,False,yes,yes,cellular,False,feb,True,True,True,True,unknown,no
2,True,technician,married,secondary,no,True,no,yes,cellular,True,aug,True,False,True,True,success,yes
3,True,admin.,married,tertiary,no,False,yes,no,cellular,False,jul,True,False,True,True,unknown,no
4,False,management,single,tertiary,no,True,no,no,cellular,False,apr,False,False,True,True,unknown,yes

Let's also create the test data without the unknown values.

In [53]:
binary_bank_test_no_unknown: pd.DataFrame = fill_unknown(binary_bank_test)
print(binary_bank_test_no_unknown["education"].unique()) # check to ensure no unknowns
binary_bank_test_no_unknown.head()

['secondary' 'primary' 'tertiary']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,True,management,single,secondary,no,True,no,no,cellular,False,jun,True,True,True,True,unknown,no
1,True,blue-collar,married,secondary,no,False,yes,no,cellular,False,may,True,False,True,True,failure,no
2,True,retired,married,primary,no,False,no,no,telephone,True,jul,False,True,True,True,unknown,no
3,False,entrepreneur,single,tertiary,no,False,yes,yes,cellular,False,jun,True,False,True,True,unknown,no
4,False,student,single,secondary,no,True,no,no,telephone,True,jan,False,True,True,True,unknown,no

Lets build our tree with this data.

In [54]:
build_trees(16, binary_bank_train_no_unknown, binary_bank_test_no_unknown, "y")

[['error_test', 'error_train', 'depth', 'purity'],
 [0.12480000000000002, 0.11919999999999997, 1, 'entropy'],
 [0.11140000000000005, 0.10599999999999998, 2, 'entropy'],
 [0.10660000000000003, 0.1008, 3, 'entropy'],
 [0.11199999999999999, 0.0806, 4, 'entropy'],
 [0.11960000000000004, 0.06340000000000001, 5, 'entropy'],
 [0.133, 0.050000000000000044, 6, 'entropy'],
 [0.14439999999999997, 0.038000000000000034, 7, 'entropy'],
 [0.14800000000000002, 0.03300000000000003, 8, 'entropy'],
 [0.1512, 0.02739999999999998, 9, 'entropy'],
 [0.15380000000000005, 0.022399999999999975, 10, 'entropy'],
 [0.15739999999999998, 0.01859999999999995, 11, 'entropy'],
 [0.1562, 0.018399999999999972, 12, 'entropy'],
 [0.1562, 0.018199999999999994, 13, 'entropy'],
 [0.1562, 0.018199999999999994, 14, 'entropy'],
 [0.1562, 0.018199999999999994, 15, 'entropy'],
 [0.1562, 0.018199999999999994, 16, 'entropy'],
 [0.11660000000000004, 0.10880000000000001, 1, 'ginni'],
 [0.10880000000000001, 0.10419999999999996, 2, 'ginni'],
 [0.11119999999999997, 0.09340000000000004, 3, 'ginni'],
 [0.11760000000000004, 0.0766, 4, 'ginni'],
 [0.12239999999999995, 0.06259999999999999, 5, 'ginni'],
 [0.134, 0.05059999999999998, 6, 'ginni'],
 [0.14880000000000004, 0.037799999999999945, 7, 'ginni'],
 [0.15380000000000005, 0.031399999999999983, 8, 'ginni'],
 [0.15659999999999996, 0.025599999999999956, 9, 'ginni'],
 [0.15880000000000005, 0.021599999999999953, 10, 'ginni'],
 [0.16259999999999997, 0.01859999999999995, 11, 'ginni'],
 [0.1614, 0.018199999999999994, 12, 'ginni'],
 [0.1614, 0.018199999999999994, 13, 'ginni'],
 [0.1614, 0.018199999999999994, 14, 'ginni'],
 [0.1614, 0.018199999999999994, 15, 'ginni'],
 [0.1614, 0.018199999999999994, 16, 'ginni'],
 [0.11660000000000004, 0.10880000000000001, 1, 'majority'],
 [0.10880000000000001, 0.10419999999999996, 2, 'majority'],
 [0.11099999999999999, 0.09640000000000004, 3, 'majority'],
 [0.11360000000000003, 0.08499999999999996, 4, 'majority'],
 [0.11619999999999997, 0.07220000000000004, 5, 'majority'],
 [0.12180000000000002, 0.06440000000000001, 6, 'majority'],
 [0.12660000000000005, 0.056599999999999984, 7, 'majority'],
 [0.133, 0.048799999999999955, 8, 'majority'],
 [0.1352, 0.043200000000000016, 9, 'majority'],
 [0.14259999999999995, 0.035800000000000054, 10, 'majority'],
 [0.14900000000000002, 0.03080000000000005, 11, 'majority'],
 [0.15180000000000005, 0.026599999999999957, 12, 'majority'],
 [0.1542, 0.023399999999999976, 13, 'majority'],
 [0.15680000000000005, 0.02100000000000002, 14, 'majority'],
 [0.15800000000000003, 0.01880000000000004, 15, 'majority'],
 [0.1582, 0.018199999999999994, 16, 'majority']]

Let's now make 16 trees varying form depth of 1 through 16. We will first use entropy.

In [55]:
trees: list[DecisionTree] = []
for i in range (1, 17):
    tree: DecisionTree = DecisionTree(binary_bank_train_no_unknown)
    tree.build(attributes=set(binary_bank_test_no_unknown.columns) - {"y"}, label="y", splitting_criteria=tree.entropy, set_depth=i)
    trees.append(tree)

Let's now make a prediction using the 16 trees above on the training data.

In [56]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_train_no_unknown, "y"))

0.11919999999999997
0.10599999999999998
0.1008
0.0806
0.06340000000000001
0.050000000000000044
0.038000000000000034
0.03300000000000003
0.02739999999999998
0.022399999999999975
0.01859999999999995
0.018399999999999972
0.018199999999999994
0.018199999999999994
0.018199999999999994
0.018199999999999994

Let's now make a prediction using the 16 trees above on the test data.

In [57]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_test_no_unknown, "y"))

0.12480000000000002
0.11140000000000005
0.10660000000000003
0.11199999999999999
0.11960000000000004
0.133
0.14439999999999997
0.14800000000000002
0.1512
0.15380000000000005
0.15739999999999998
0.1562
0.1562
0.1562
0.1562
0.1562

Let's now make 16 trees varying form depth of 1 through 16. We will now use ginni index.

In [58]:
trees: list[DecisionTree] = []
for i in range (1, 17):
    tree: DecisionTree = DecisionTree(binary_bank_train_no_unknown)
    tree.build(attributes=set(binary_bank_test_no_unknown.columns) - {"y"}, label="y", splitting_criteria=tree.entropy, set_depth=i)
    trees.append(tree)

Let's now make a prediction using the 16 trees above on the training data.

In [59]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_train_no_unknown, "y"))

0.11919999999999997
0.10599999999999998
0.1008
0.0806
0.06340000000000001
0.050000000000000044
0.038000000000000034
0.03300000000000003
0.02739999999999998
0.022399999999999975
0.01859999999999995
0.018399999999999972
0.018199999999999994
0.018199999999999994
0.018199999999999994
0.018199999999999994

Let's now make a prediction using the 16 trees above on the test data.

In [60]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_test_no_unknown, "y"))

0.12480000000000002
0.11140000000000005
0.10660000000000003
0.11199999999999999
0.11960000000000004
0.133
0.14439999999999997
0.14800000000000002
0.1512
0.15380000000000005
0.15739999999999998
0.1562
0.1562
0.1562
0.1562
0.1562

Let's now make 16 trees varying form depth of 1 through 16. We will now use majority error.

In [61]:
trees: list[DecisionTree] = []
for i in range (1, 17):
    tree: DecisionTree = DecisionTree(binary_bank_train_no_unknown)
    tree.build(attributes=set(binary_bank_train_no_unknown.columns) - {"y"}, label="y", splitting_criteria=tree.majority_error, set_depth=i)
    trees.append(tree)

Let's now make a prediction using the 16 trees above on the train data.

In [62]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_train_no_unknown, "y"))

0.10880000000000001
0.10419999999999996
0.09640000000000004
0.08499999999999996
0.07220000000000004
0.06440000000000001
0.056599999999999984
0.048799999999999955
0.043200000000000016
0.035800000000000054
0.03080000000000005
0.026599999999999957
0.023399999999999976
0.02100000000000002
0.01880000000000004
0.018199999999999994

Let's now make a prediction using the 16 trees above on the test data.

In [63]:
for tree in trees:
    print(1 - predict_dataframe(tree, binary_bank_test_no_unknown, "y"))

0.11660000000000004
0.10880000000000001
0.11099999999999999
0.11360000000000003
0.11619999999999997
0.12180000000000002
0.12660000000000005
0.133
0.1352
0.14259999999999995
0.14900000000000002
0.15180000000000005
0.1542
0.15680000000000005
0.15800000000000003
0.1582

### Part C
We notice above that the trees that had the unknown value (rather than the imputed one) performed ever so slightly worse than the tress that imputed the value of the unknowns based of the error on the training and test sets. We also found that the test errors performed worse than the training errors. We also notice that both the training and test errors converge to an error percentage after a certain number of nodes. We also notice that the testing error starts higher (relatively), dips, and then rises again. This is likely due to overfitting.